:root {
  --app: #f3f6fd;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --main-color: #1f1c2e;
}
.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  position: relative;
  &-left {
    align-items: center;
    flex-grow: 1;
  }
  &-right {
    align-items: center;
  }
  &-name {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
  }
}
.search-wrapper {
  border-radius: 20px;
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 480px;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
}
.icons {
  margin-top: 0.5rem;
}
.icons:hover {
  cursor: pointer;
}
#moon-icon {
  margin-left: 10px;
}
#user-icon {
  margin-left: 1rem;
}
.user-text {
  margin-top: 0.1rem;
  margin-left: 0.5rem;
  font-size: 1.3rem;
}
.app-content {
  padding: 16px 24px 24px 0;
}
.nav-icons {
  border-radius: 10px;
  padding: 2px;
  &.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
  }
}
.nav-icons:hover {
  cursor: pointer;
  background-color: var(--link-color-hover);
  color: var(--link-color-active);
}
#analytics-icon {
  margin-top: 2rem;
}
#control-icon {
  margin-top: 2rem;
}
#folder-icon {
  margin-top: 2rem;
}
#settings-icon {
  margin-top: 2rem;
}
.home-section {
  flex: 2;
  margin-top: 5%;
  background-color: var(--projects-section);
  border-radius: 32px;
  padding: 32px 32px 0 32px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
}
.home-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.header-text {
  font-size: 28px;
}
.time {
  font-size: 20px;
}
.status-number {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.item-status {
  &:not(:last-child) .status-type:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translatey(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}
.status-type {
  position: relative;
  padding-right: 24px;
}
.view-actions {
  align-items: centre;
}
.view-btn {
  padding: 6px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  transition: 0.2s;

  &.active {
    background-color: var(--link-color-active-bg);
    color: var(--link-color-active);
  }
  &:not(.active):hover {
    background-color: var(--link-color-hover);
    color: var(--link-color-active);
    cursor: pointer;
  }
  &.list-view {
    margin-left: 128vh;
  }
}
.project-boxes {
  margin: 0 -8px;
  overflow-y: auto;

  &.grid-view {
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
  }
  .project-box-wrapper {
    width: 33.3%;
  }
}
.project-box-text {
  &.header {
    margin-left: 1vh;
    color: #4a4a4a;
    opacity: 0.7;
    font-size: 14px;
    line-height: 16px;
  }
}
.project-box {
  border-radius: 30px;
  padding: 16px;

  &-header {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    color: var(--main-color);
  }
  &-content-header {
    text-align: center;
    margin-bottom: 16px;
  }
  &-wrapper {
    padding: 8px;
    transition: 0.2s;
    color: black;
  }
  &-icon {
    :hover {
      cursor: pointer;
    }
  }
}
.box-content-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  opacity: 0.7;
  color: black;
}
.box-content-subheader {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
}
.box-progress-percentage {
  text-align: right;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}
.project-box-footer {
  justify-content: space-between;
  padding-top: 16px;
  position: relative;
}
